<% provide( :title, '' ) %>

<div id="check-container" class="middle-box">
	<div>Si tudi ti med njimi?</div>
	<a href="/auth/twitter"><%= image_tag('sign-in-with-twitter.png', width: '158px',  height: '28px' ) %></a>
</div>

<%= render( 'layouts/share' ) %>

<div class="row-fluid" id="bottom">
	<div class="span5" id="bottom-left">
		<h3>Blokirani:</h3>
		<% @zombies.each do |zombie| %>
		<div class="zombie">
			<a href="https://twitter.com/<%= zombie.name %>">@<%= zombie.name %></a> <%= raw( '<em>' + zombie.message + '</em>' ) unless zombie.message.empty? %> <a href="<%= blocked_path( zombie ) %>" class="icon-arrow-right" title="Poglej zombija"></a>
		</div>
		<% end %>
	</div>
	<div class="span5" id="bottom-right">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23strankaSDS" data-widget-id="282908513997553665" width="300">Tweets about "#strankaSDS"</a>
	</div>
</div>