<% if @show_form === true %>
	<h1>@strankaSDS te je blokirala!</h1>
	<p class="lead">
		Povej nam zakaj mislis da so te blokirali:
	</p>
	<%= form_for(@zombie) do |f| %>
		<%= f.text_field :message %>

		<%= f.submit %>
	<% end %>
<% end %>


<hr />
<h1>@StrankaSDS je blokirala @<%= @zombie.name %></h1>

<% unless @zombie.message.empty? %>
	@<%= @zombie.name %> meni da je razlog za blokiranje:<br /><br />
	<%= @zombie.message %>
<% end %>

<p>BADGE</p>
<p>share buttons</p>